.dashboard-label-text {
    font-size: 12px;
    line-height: 12px;
}

.dashboard-count-text {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.dashboard-container {
    background-color: #fff;
    border-radius: 16px;
    padding: 8px 16px;
    width: 100%;
}