@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-modal .ant-modal-header {
}
.custom-modal .ant-modal-title {
  color: #ff9646;
  margin: 5px;
  width: 100%;
}
.custom-modal .ant-modal-body {
}
.custom-modal .ant-modal-footer {
  background-color: lightgray;
  padding: 5px;
}

.custom-button {
  background-color: #ff9646;
}
:root body {
  font-family: Figtree, ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* src/LanguageSwitcher.css */
.language-switcher {
  display: flex;
  gap: 10px;
}

.flag-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.flag-button:hover {
  opacity: 0.7; /* Optional: hover effect */
}

.ant-btn-icon-only {
  border: none; /* Remove border from Ant Design buttons with only an icon */
}

